:root {
  --color-dark: #15152c;
  --color-darker: #111115;
  --color-darker-hover: #2e1538;
  --color-darker-active: #3e2847;
  /**/
  --color-primary: #ffabab;
  --color-primary-hover: #e29c9d;
  --color-primary-active: #c68889;
  /**/
  --color-primary-surface: #ffd9da;
  --color-primary-surface-hover: #ffc3c3;
  --color-primary-surface-active: #faadae;
  /**/
  --color-primary-50: #fffdfd;
  --color-primary-150: #f7a5a5;
  --color-primary-50: #fffdfd;
  /**/
  --digdir-theme: #ffd9da;
  --naturvin-theme: #ffe2ab;

  /**/
  --pink: #d0abff;
  --pink-hover: #b897e1;
  --pink-active: #a184c5;
  --gul: #ffe2ab;
  --gul-hover: #e5cb99;
  --gul-active: #cdb689;
  --blue: #abd7ff;
  --blue-hover: #98bfe3;
  --blue-active: #86a9c8;
  --gronn: #c6ffab;
  --gronn-hover: #b4e89b;
  --gronn-active: #a1d08b;
  --main-surface: #ffc2c2;
}

.digdir-theme {
  background-color: var(--digdir-theme);
}

.naturvinforbundet-theme {
  background-color: var(--naturvin-theme);
}

.gronn-theme {
  background-color: var(--gronn);
}

.blue-theme {
  background-color: var(--blue);
}

.pink-theme {
  background-color: var(--pink);
}

.gul-theme {
  background-color: var(--gul);
}

.gronn {
  background-color: var(--gronn);
}

.blue {
  background-color: var(--blue);
}

.gul {
  background-color: var(--gul);
}

.pink {
  background-color: var(--pink);
}

.gronn:hover {
  background-color: var(--gronn-hover);
}

.blue:hover {
  background-color: var(--blue-hover);
}

.gul:hover {
  background-color: var(--gul-hover);
}

.pink:hover {
  background-color: var(--pink-hover);
}

.gronn:active {
  background-color: var(--gronn-active);
}

.blue:active {
  background-color: var(--blue-active);
}

.gul:active {
  background-color: var(--gul-active);
}

.pink:active {
  background-color: var(--pink-active);
}

.gronn,
.pink,
.gul,
.blue {
  transition: 0.3s;
}

@font-face {
  font-family: "TT Nooks";
  src: url("fonts/TTNooks-Bold.eot");
  src: url("fonts/TTNooks-Bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/TTNooks-Bold.woff2") format("woff2"),
    url("fonts/TTNooks-Bold.woff") format("woff"),
    url("fonts/TTNooks-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: "Manrope";
}

/* Use Google font Manrope */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=block");

/* Apply fonts to elements */
body {
  font-family: "Manrope";
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
  color: var(--color-dark);
  background-color: var(--color-primary-50);
}

.digdir-theme #single-image {
  padding: 4vw;
}

.logo-emblem {
  font-size: 64px;
  font-family: "TT Nooks";
  line-height: 0.5;
  width: 53%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "TT Nooks", sans-serif; /* Use TT Nooks for headings */
  margin: 0;
}

section {
  padding: 4vw;
  display: flex;
  gap: 36px;
  flex-direction: column;
}

#about {
  gap: 36px;
}

#about h1 {
  width: 75%;
  font-size: 10vh;
  line-height: 13vh;
  letter-spacing: -4px;
}

h1 {
  font-size: 64px;
  line-height: 1.1em;
  letter-spacing: -2px;
}

h2 {
  font-size: 36px;
  font-family: "Manrope";
  font-weight: 400;
}

h3 {
  font-size: 16px;
  font-family: "Manrope";
  font-weight: 400;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent !important;
  padding: 24px 4vw;
  position: sticky;
  top: 0;
  z-index: 2;
}

footer {
  display: flex;
  align-items: flex-start;
  padding: 36px 4vw;
  justify-content: space-between;
  border-top: 1px solid #15152c1f;
}

footer p {
  margin: 0;
  font-weight: 300;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 25%;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

footer ul li {
  display: inline;
  margin-right: 20px;
}

footer ul li:last-child {
  margin-right: 0;
}

footer ul li a {
  text-decoration: none;
  color: var(--color-dark);
  font-weight: 300;
}

footer ul li a:hover {
  background-color: var(--main-surface);
  border-bottom: 2px solid var(--color-dark);
}

footer ul li a:active {
  background-color: var(--color-primary-hover);
}

header a {
  text-decoration: none;
}

.header-name {
  font-family: "TT Nooks", sans-serif; /* Use TT Nooks for headings */
  font-size: 36px;
  line-height: 1.5em;
  letter-spacing: -1px;
  text-decoration: none !important ;
  color: var(--color-dark);
  z-index: 99999;
}

.header-name:hover {
  opacity: 0.5;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin-right: 24px;
}

header nav ul li:last-child {
  margin-right: 0;
}

header nav ul li a {
  text-decoration: none;
  color: var(--color-dark);
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 1.5em;
}

header nav ul li a:hover {
  background-color: var(--main-surface);
  border-bottom: 2px solid var(--color-dark);
}

header nav ul li a:active {
  background-color: var(--color-primary-hover);
  border-bottom: 2px solid var(--color-dark);
}

.button-wrapper {
  display: flex;
  gap: 16px;
}

.primary-btn {
  padding: 24px;
  border: 1px solid var(--color-dark);
  color: var(--color-primary-50);
  line-height: 0;
  background: var(--color-dark);
  text-decoration: 0;
  font-size: 20px;
}

.primary-btn:hover {
  background-color: var(--color-darker-hover);
}

.primary-btn:active {
  background-color: var(--color-darker-active);
}

.secondary-btn {
  padding: 24px;
  border: 1px solid var(--color-dark);
  color: var(--color-dark);
  line-height: 0;
  text-decoration: 0;
  font-size: 20px;
}

.secondary-btn:hover {
  background-color: var(--color-primary-surface-hover);
}

.secondary-btn:active {
  background-color: var(--color-primary-surface-active);
}

.project-wrapper {
  display: flex;
  gap: 36px;
}

.project {
  font-family: "Manrope", sans-serif; /* Use Manrope as fallback */
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.project img {
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.project p {
  font-family: "Manrope", sans-serif; /* Use Manrope as fallback */
  font-size: 24px;
  margin: 0;
  padding: 0;
}

.project-link {
  text-decoration: none;
  color: var(--color-dark);
  width: calc(50% - 18px);
}

.project-link:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.main-theme {
  background-color: transparent;
}

.project-h2 {
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.project-desc {
  font-size: 24px;
  font-family: "Manrope", sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.info-outer {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#info {
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.image-container {
  display: flex;
  width: 100%;
  gap: 4vw;
}

#image-double {
  display: flex;
  flex-direction: row;
  padding: 24px 4vw;
}

#single-image {
  padding: 24px 4vw;
}

#image-double img {
  width: calc(50% - 18px);
}

.accordion {
  background-color: var(--color-primary-surface);
  color: var(--color-dark);
  cursor: pointer;
  padding: 36px 24px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 4vh;
  font-family: "Manrope";
  font-weight: 400;
  transition: 0.4s;
}

.accordion iconify-icon {
  vertical-align: -8px;
  margin-right: 16px;
}

.accordion-highlight {
  background-color: var(--color-primary-surface);
}

.active,
.accordion:hover {
  background-color: var(--color-primary-surface-active);
}

.accordion:after {
  content: "\002B";
  color: var(--color-dark);
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 24px;
  background-color: inherit;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel p {
  font-size: 1.3em;
  line-height: 36px;
  font-family: "Manrope";
  font-weight: 400;
}
.accordion-wrapper {
  padding: 4vw;
}

#tjenester {
  padding: 4vw;
  display: flex;
  gap: 16px;
  flex-direction: column;
}

#tjenester h1 {
  margin-bottom: 16px;
  font-size: 48px;
}

#about-page {
  display: flex;
  flex-direction: row;
}

#about-page h1 {
  width: 35%;
}

#about-page h2 {
  width: 65%;
}

.contact-card p,
.contact-card a {
  font-size: 18px;
  text-decoration: none;
  margin: 0;
}

.contact-card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.contact-card {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contact-card a {
  text-decoration: none;
  color: var(--color-dark);
  font-weight: 300;
}

.contact-card a:hover {
  background-color: var(--color-primary-hover);
  border-bottom: 2px solid;
}

.contact-card h2 {
  font-size: 24px;
}

.purple-page {
  background-color: var(--color-primary);
}

.pink-page {
  background: var(--pink);
}

.green-page {
  background: var(--gronn);
}

.blue-page {
  background: var(--blue);
}

.gul-page {
  background: var(--gul);
}

/* New styles for mobile menu */
.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.close-btn {
  display: none;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
  color: var(--color-dark);
}

@media (max-width: 1024px) {
  .menu-icon {
    display: block;
  }
  .button-wrapper iconify-icon {
    display: none;
  }

  nav {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-primary);
    z-index: 1000;
  }

  nav.show {
    display: flex;
    height: 100vh;
    background: var(--color-primary);
    z-index: 999;
  }

  header nav ul {
    display: flex;
    text-align: center;
    flex-direction: column;
  }

  header nav ul li a {
    font-size: 36px;
  }

  nav ul {
    list-style: none;
    padding: 0;
  }

  nav ul li {
    margin: 20px 0;
  }

  nav ul li a {
    text-decoration: none;
    color: var(--color-dark);
    font-size: 24px;
  }

  .close-btn {
    display: block;
  }
}

.project-button {
  padding: 48px;
  width: 750px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.project-button a {
  text-decoration: none;
}

#project-button-wrapper {
  display: flex;
  align-items: center;
}

#project-button-wrapper a {
  text-decoration: none;
  color: var(--color-dark);
  background-color: var(--color-primary-50);
}

#project-button-wrapper a:hover {
  outline: 2px solid var(--color-dark);
  background-color: var(--color-primary);
}

#project-button-wrapper a:active {
  outline: 2px solid var(--color-dark);
  background-color: var(--color-primary-active);
}

.outline-bright {
  outline: 2px solid var(--color-dark);
}

@media (max-width: 1024px) {
  #about h1 {
    font-size: 10vw;
    line-height: 1.2em;
    letter-spacing: -2px;
  }

  h1 {
    font-size: 2em;
    line-height: 1.2em;
  }

  section {
    padding: 28px;
  }

  header {
    padding: 28px;
  }

  .button-wrapper {
    display: flex;
    gap: 16px;
    flex-direction: column;
    text-decoration: none !important;
  }

  .primary-btn,
  .secondary-btn {
    padding: 36px;
    text-align: center;
    text-decoration: none !important;
  }

  .project-link {
    width: 100%;
  }

  .project-wrapper {
    flex-direction: column;
  }

  .project img {
    aspect-ratio: 16 / 9;
  }

  #about-page {
    display: flex;
    flex-direction: column;
  }
  #about-page h1,
  #about-page h2 {
    width: 100%;
  }

  footer {
    padding: 28px;
    gap: 36px;
    flex-direction: column;
  }

  .logo-emblem,
  .footer-column {
    width: 25%;
  }

  #tjenester {
    padding: 28px;
  }
  .accordion {
    width: 100%;
    font-size: 28px;
  }
  .info-wrapper {
    width: 100%;
  }
  .project-button {
    width: 275px;
  }
  .contact-wrapper {
    flex-direction: column;
  }
  .contact-card {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 16px;
  }

  .contact-card h2 {
    font-size: 28px;
  }
  .contact-card p,
  .contact-card a {
    font-size: 20px;
  }

  #tjenester h1 {
    margin-bottom: 24px;
  }

  #case-text-section-long {
    height: unset !important;
    flex-direction: column;
  }

  #case-text-section-long h1 {
    width: unset !important;
  }

  #case-text-section-long h2 {
    width: unset !important;
  }

  .digdir-theme #single-image {
    padding: 28px;
  }

  .digdir-theme h2 {
    font-size: 24px;
  }

  .digdir-theme h1 {
    font-size: 36px;
    margin-bottom: 16px;
    margin-top: 32px;
  }

  #image-double {
    padding: 28px;
  }

  #case-text-section-long div {
    flex-direction: column !important;
  }
}

.accordion-section {
  width: 100%;
}

#case-text-section {
  display: flex;
  flex-direction: row;
  height: 75vh;
  align-items: center;
}

#case-text-section h2 {
  width: 75% !important;
}

#case-text-section h1 {
  width: 25% !important;
}

#case-text-section-long {
  display: flex;
  flex-direction: row;
  height: 50vh;
  align-items: center;
}

#case-text-section-long div {
  display: flex;
  flex-direction: row;
}

#case-text-section-long h1 {
  width: 40%;
}

#case-text-section-long h2 {
  width: 60%;
}
.contact-form-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#contact-form label {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-dark);
}

#contact-form input[type="text"],
#contact-form input[type="tel"],
#contact-form textarea,
#contact-form input[type="email"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid var(--color-primary-150);
  border-radius: 4px;
  font-size: 16px;
  color: var(--color-dark);
  background-color: white;
}

#contact-form textarea {
  height: 120px;
  resize: vertical;
}

#contact-form button[type="submit"] {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-dark);
  background-color: var(--color-primary);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#contact-form button[type="submit"]:hover {
  background-color: var(--color-primary-hover);
}

#contact-form button[type="submit"]:active {
  background-color: var(--color-primary-active);
}

#contact-form .checkbox-group {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 16px;
  margin-top: 8px;
}

#contact-form .checkbox-group label {
  padding: 12px 20px;
  background-color: white;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

#contact-form .checkbox-group label:hover {
  background-color: var(--color-primary-surface-hover);
  color: var(--color-dark);
  outline: 2px solid var(--color-primary-surface-active);
}

#contact-form .checkbox-group label input {
  display: none;
}

#contact-form .checkbox-group label span {
  pointer-events: none;
}

#contact-form .checkbox-group label.active {
  background-color: var(--color-primary-150);
  color: var(--color-dark);
}

/* Popup Modal Styling */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: var(--color-primary-surface);
  margin: auto;
  padding: 20px;
  height: 80vh;
  width: 100%;
  max-width: 760px;
  overflow-y: scroll;
  border-radius: 16px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.active-form {
  outline: 2px solid var(--color-dark) !important;
  background-color: var(--color-primary-150) !important;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  gap: 8px;
}

.heading-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.contact-button {
  text-decoration: none;
  color: var(--color-dark);
  font-weight: 300;
  font-size: 18px;
  padding: 8px 16px;
  border-radius: 600px;
  letter-spacing: 0.5px;
  line-height: 1.5em;
  background: none;
  border: none;
  outline: 1px solid var(--color-dark);
}

.contact-button:hover {
  background-color: var(--color-primary-hover);
}

.contact-button:active {
  background-color: var(--color-primary-active);
}

#error-page {
  display: flex;
  flex-direction: row;
  min-height: 50vh;
}

.article {
  width: 900px;
  gap: 0px;
}

.article p {
  margin-bottom: 48px;
  font-size: 1.5em;
  line-height: 1.7em;
  margin-top: 16px;
}

.article h2 {
  font-family: TT Nooks;
  letter-spacing: -1.5px;
}

.article-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0;
  padding-bottom: 0;
}

.article-header-wrapper h1 {
  line-height: 1.2em;
}

.data-wrapper {
  display: inline-flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 48px;
}

.datatag {
  padding: 8px 16px;
  background: var(--color-primary-surface);
  border-radius: 900px;
  min-width: 48px;
  text-align: center;
  font-size: 1em;
}

.author-wrapper img {
  height: 48px;
  border-radius: 400px;
}

.author-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 36px;
  margin-bottom: 64px;
}

.author {
  color: var(--color-dark);
  font-weight: 600;
}

.author-title {
  color: var(--color-dark);
  opacity: 0.5;
}

article img {
  width: 100%;
  transition: 0.5s;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

article {
  flex: calc(50% - 24px);
  color: var(--color-dark);
  text-decoration: none !important;
}

article h2 {
  color: var(--color-dark);
  text-decoration: none !important;
}

a {
  text-decoration: none;
}

article a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-color: var(--color-dark);
}

article:hover img {
  opacity: 0.6;
  transition: 0.5s;
}

.article-samlet {
  display: flex;
  flex-direction: row;
  gap: 36px;
  flex-wrap: wrap;
}

@media (max-width: 1024px) {
  article {
    flex: 100%;
  }

  .article {
    width: 100%;
  }
  .article-header-wrapper p {
    font-size: 1.2em;
  }
  .article h2 {
    font-size: 1.6em;
  }
  .article p {
    margin-bottom: 36px;
  }
  .author-wrapper {
    margin-bottom: 36px;
  }
}

.no-padding {
  padding-bottom: 0px;
}

.breadcrumbs-wrapper {
  display: inline-flex;
  gap: 4px;
  margin-bottom: 24px;
}

.breadcrumbs {
  color: var(--color-dark);
  opacity: 0.7;
}

a .breadcrumbs {
  text-decoration: none;
  text-underline-offset: 4px;
  text-decoration-color: var(--color-dark);
}

a .breadcrumbs:hover {
  text-decoration: underline;
}

.tjeneste a {
  padding: 64px 48px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: var(--color-dark);
  height: 300px;
}

.tjeneste:hover {
  outline: 3px solid var(--color-dark);
  text-decoration: none !important;
}

.tjeneste a {
  text-decoration: none !important;
}

.tjeneste p {
  font-size: 3vh;
  font-weight: 400;
  margin-top: 0;
  width: 80%;
}

.tjeneste h2 {
  font-size: 5vh;
  font-weight: 500;
  word-break: keep-all;
}

#tjenester-wrapper {
  display: flex;
  flex-direction: column;
}

.tjenester-wrapper {
  display: flex;
  gap: 24px;
  flex-direction: row;
  flex-wrap: wrap;
}

article.tjeneste {
  flex: calc(50% - 18px);
}

@media (min-width: 1400px) {
  .tjeneste a {
    height: unset !important;
  }
  .tjeneste h2 {
    margin-top: 8px;
  }
}

@media (max-width: 1024px) {
  article.tjeneste {
    flex: 100%;
  }

  .tjeneste a {
    padding: 36px 36px;
  }
}

@media (max-width: 767px) {
  article.tjeneste {
    width: 100%;
  }
}

.simple-link {
  color: var(--color-dark) !important;
  text-decoration: underline;
  text-underline-offset: 4px;
}

#generelle-tjenester {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
}

#generelle-tjenester h2 {
  margin-bottom: 24px;
  width: 50%;
  padding: 36px 0px;
  font-size: 4vh;
}

#tjeneste-page {
  display: flex;
  flex-direction: row;
}

#tjeneste-page h1 {
  min-width: 40%;
  font-size: 3em;
}

#tjeneste-page h2 {
  font-size: 2em;
}

@media (max-width: 1140px) {
  #tjeneste-page {
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  #generelle-tjenester {
    flex-direction: column;
    gap: 16px;
  }
  #generelle-tjenester h2 {
    margin-bottom: 8px;
    padding: 0;
    width: 100%;
  }
}

#forside {
  padding: 24px 4vw;
}

#forside h2 {
  color: var(--color-dark);
  font-size: 24px;
}

@media (max-width: 1024px) {
  #forside {
    padding: 28px;
  }
  #forside h2 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    color: var(--color-dark);
  }
}

.color-change-4x {
  -webkit-animation: color-change-4x 25s linear infinite alternate both;
  animation: color-change-4x 25s linear infinite alternate both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-8-12 13:17:22
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation color-change-4x
 * ----------------------------------------
 */
@-webkit-keyframes color-change-4x {
  0% {
    background: var(--color-primary);
  }
  33.3333% {
    background: var(--blue);
  }
  66.666% {
    background: var(--gronn);
  }
  100% {
    background: var(--gul);
  }
}
@keyframes color-change-4x {
  0% {
    background: var(--color-primary);
  }
  33.3333% {
    background: var(--gronn);
  }
  66.666% {
    background: var(--gul);
  }
  100% {
    background: var(--blue);
  }
}

.Nooks-Heading {
  font-family: "TT Nooks" !important;
  font-size: 3vw;
  letter-spacing: -1.3px;
}

#prosjekter {
  gap: 24px;
}

@media (max-width: 1024px) {
  .Nooks-Heading {
    font-size: 8vw;
  }
}

.hero {
  font-family: Manrope;
  font-weight: 300;
  letter-spacing: 0px !important;
}

.hero .line {
  display: block;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.8s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

button {
  cursor: pointer;
}

.fade-in-bottom {
  -webkit-animation: fade-in-bottom 0.7s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: fade-in-bottom 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.hero-button {
  padding: 28px 36px;
  display: flex;
  margin-top: 0px;
  gap: 16px;
  width: fit-content;
  border-radius: 800px;
  align-items: center;
  font-size: 4vh;
}

@media (max-width: 1024px) {
  .hero-button {
    padding: 24px;
    font-size: 16px;
  }
}

/* Styling for elements that will fade in */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* When elements are visible, apply this class to fade them in */
.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Disable animation for screens under 1024px */
@media (max-width: 1024px) {
  .fade-in {
    opacity: 1;
    transform: none;
    transition: none;
  }
}

.full-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .full-page {
    min-height: unset;
  }
  #about {
    gap: 8px;
  }
}

.nettsider {
  background-color: var(--blue);
  transform: rotate(5deg);
}

.design {
  background-color: var(--gronn);
  transform: rotate(2deg);
}

.innhold {
  background-color: var(--gul);
  transform: rotate(-3deg);
}

.hero span {
  line-height: 0;

  transition: height 0.3s ease;
}

.hero {
  font-family: Manrope;
  font-weight: 300;
  line-height: 1.2em;
  letter-spacing: 0px !important;
}

.main-surface {
  background-color: white;
}

.hero div {
  display: inline-block;
  transition: transform 0.4s ease;
}

.hero div a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 0 5px; /* Optional: Add some padding for spacing */
}

.hero div:hover {
  transform: rotate(0deg); /* Adjust the degree of rotation as needed */
}

.square {
  aspect-ratio: 1 / 1 !important;
  object-fit: cover;
}

@media (max-width: 1200px) {
  #about h1 {
    width: 100% !important;
  }
}

.desc {
  opacity: 0.5;
}

.fullwidth img {
  width: 100% !important;
  margin-bottom: -5px;
}

.fullwidth video {
  width: 100% !important;
}

.fullwidth {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.intro-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 16px;
}

#losning,
#konsept {
  display: flex;
  flex-direction: row;
  height: 75vh;
  align-items: center;
  margin-top: -5px;
}
.top {
  align-items: center;
}

.column-50 {
  width: 50%;
}

.column-50 img {
  width: 100%;
}

.animation {
  height: 100vh;
}

#logo-reveal {
  height: 100vh;
}

.column-100 {
  width: 100%;
  text-align: center;
}

#quote {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-text {
  font-size: 3em;
  padding: 10vw;
}

@media (max-width: 767px) {
  .column-50 {
    width: 100%;
  }
  #konsept {
    flex-direction: column-reverse;
  }

  #konsept,
  #losning {
    height: unset;
  }

  #losning {
    flex-direction: column;
  }
  #info {
    flex-direction: column;
    gap: 0px;
  }
  .info-outer {
    width: 100%;
  }
  .quote-text {
    font-size: 2em;
  }
}
