:root {
    --color-dark: #2B2B35;
    --color-primary: #FFD4D4;
    --color-primary-50: #FFEEEE;
    --color-primary-150: #D5B2B4;
  }

@font-face {
  font-family: 'TT Nooks';
  src: url('fonts/TTNooks-Bold.eot');
  src: url('fonts/TTNooks-Bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/TTNooks-Bold.woff2') format('woff2'),
       url('fonts/TTNooks-Bold.woff') format('woff'),
       url('fonts/TTNooks-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Use Google font Manrope */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&display=swap');

/* Apply fonts to elements */
body {
  font-family: 'Manrope', sans-serif; /* Use Manrope as fallback */
  margin: 0;
  padding: 0;
  color: var(--color-dark);
  background-color: var(--color-primary-50);
}



.logo-emblem {
    font-size: 64px;
    font-family: 'TT Nooks';
    line-height: 0.5;
    width: 53%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'TT Nooks', sans-serif; /* Use TT Nooks for headings */
  margin: 0;
}

section {
    padding: 72px;
    display: flex;
    gap: 36px;
    flex-direction: column;
}

#about {
    background-color: var(--color-primary);
}

#about h1 {
    width: 1100px;
}

h1 {
    font-size: 64px;
    line-height: 1em;
    letter-spacing: -4px;
}

h2 {
    font-size: 36px;
    font-family: 'Manrope', sans-serif; /* Use Manrope as fallback */
    font-weight: 400;
}


h3 {
    font-size: 16px;
    font-family: 'Manrope', sans-serif; /* Use Manrope as fallback */
    font-weight: 400;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-primary);
    padding: 36px 72px;
}

footer {
    display: flex;
    align-items: flex-start;
    padding: 36px 72px;
 justify-content: space-between;
border-top: 1px solid var(--color-primary);
}

footer p{
    margin: 0;
    font-weight: 300;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 25%;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  footer ul li {
    display: inline;
    margin-right: 20px;
  }
  
  footer ul li:last-child {
    margin-right: 0;
  }
  
  footer ul li a {
    text-decoration: none;
    color: var(--color-dark);
    font-weight: 300;
  }
  
  footer ul li a:hover {
    background-color: var(--color-primary-150);
    border-bottom: 2px solid var(--color-dark);
  }
  

  header a {
    text-decoration: none;
  }

.header-name {
    font-family: 'TT Nooks', sans-serif; /* Use TT Nooks for headings */
    font-size: 36px;
    line-height: 1.5em;
    letter-spacing: -1px;
    text-decoration: none!important ;
    color: var(--color-dark);
}

.header-name:hover {
    opacity: 0.5;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  header nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  header nav ul li:last-child {
    margin-right: 0;
  }
  
  header nav ul li a {
    text-decoration: none;
    color: var(--color-dark);
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 1.5em;
  }
  
  header nav ul li a:hover {
    background-color: var(--color-primary-150);
    border-bottom: 2px solid var(--color-dark);
  }

  .button-wrapper {
    display: flex;
    gap: 16px;
  }

  .primary-btn {
    padding: 24px;
    border: 1px solid var(--color-dark);
    color: var(--color-primary);
    line-height: 0;
    background: var(--color-dark);
    text-decoration: 0;
    font-size: 20px;
  }

  .primary-btn:hover {
    background-color: var(--color-primary);
    color: var(--color-dark);
  }

  .secondary-btn {
    padding: 24px;
    border: 1px solid var(--color-dark);
    color: var(--color-dark);
    line-height: 0;
    text-decoration: 0;
    font-size: 20px;
  }

  .secondary-btn:hover {
    background-color: var(--color-dark);
    color: var(--color-primary);
  }

.project-wrapper {
    display: flex;
    gap: 36px;
  }

  .project {
    font-family: 'Manrope', sans-serif; /* Use Manrope as fallback */
    display: flex;
    gap: 8px;
    flex-direction: column;
  }

.project img {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.project p {
    font-family: 'Manrope', sans-serif; /* Use Manrope as fallback */
    font-size: 24px;
    margin: 0;
    padding: 0;
}

  .project-link {
    text-decoration: none;
    color: var(--color-dark);
  }

  .project-link:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
  }