:root {
    --color-dark: #2B2B35;
    --color-darker: #111115;
    --color-primary: #FFD4D4;
    --color-primary-50: #FFEEEE;
    --color-primary-150: #D5B2B4;
  }

@font-face {
  font-family: 'TT Nooks';
  src: url('fonts/TTNooks-Bold.eot');
  src: url('fonts/TTNooks-Bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/TTNooks-Bold.woff2') format('woff2'),
       url('fonts/TTNooks-Bold.woff') format('woff'),
       url('fonts/TTNooks-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
    font-family: 'Manrope';
}

/* Use Google font Manrope */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=block');

/* Apply fonts to elements */
body {
  font-family: 'Manrope';
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
  color: var(--color-dark);
  background-color: var(--color-primary-50);
}



.logo-emblem {
    font-size: 64px;
    font-family: 'TT Nooks';
    line-height: 0.5;
    width: 53%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'TT Nooks', sans-serif; /* Use TT Nooks for headings */
  margin: 0;
}

section {
    padding: 72px;
    display: flex;
    gap: 36px;
    flex-direction: column;
}

#about {
    background-color: var(--color-primary);
}

#about h1 {
    width: 1150px;
}

h1 {
    font-size: 64px;
    line-height: 1em;
    letter-spacing: -2px;
}

h2 {
    font-size: 36px;
    font-family: 'Manrope';
    font-weight: 400;
}


h3 {
    font-size: 16px;
    font-family: 'Manrope';
    font-weight: 400;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-primary);
    padding: 36px 72px;
}

footer {
    display: flex;
    align-items: flex-start;
    padding: 36px 72px;
 justify-content: space-between;
border-top: 1px solid var(--color-primary);
}

footer p{
    margin: 0;
    font-weight: 300;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 25%;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  footer ul li {
    display: inline;
    margin-right: 20px;
  }
  
  footer ul li:last-child {
    margin-right: 0;
  }
  
  footer ul li a {
    text-decoration: none;
    color: var(--color-dark);
    font-weight: 300;
  }
  
  footer ul li a:hover {
    background-color: var(--color-primary-150);
    border-bottom: 2px solid var(--color-dark);
  }
  

  header a {
    text-decoration: none;
  }

.header-name {
    font-family: 'TT Nooks', sans-serif; /* Use TT Nooks for headings */
    font-size: 36px;
    line-height: 1.5em;
    letter-spacing: -1px;
    text-decoration: none!important ;
    color: var(--color-dark);
}

.header-name:hover {
    opacity: 0.5;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  header nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  header nav ul li:last-child {
    margin-right: 0;
  }
  
  header nav ul li a {
    text-decoration: none;
    color: var(--color-dark);
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 1.5em;
  }
  
  header nav ul li a:hover {
    background-color: var(--color-primary-150);
    border-bottom: 2px solid var(--color-dark);
  }

  .button-wrapper {
    display: flex;
    gap: 16px;
  }

  .primary-btn {
    padding: 24px;
    border: 1px solid var(--color-dark);
    color: var(--color-primary);
    line-height: 0;
    background: var(--color-dark);
    text-decoration: 0;
    font-size: 20px;
  }

  .primary-btn:hover {
    background-color: var(--color-darker);
    color: var(--color-primary);
  }

  .secondary-btn {
    padding: 24px;
    border: 1px solid var(--color-dark);
    color: var(--color-dark);
    line-height: 0;
    text-decoration: 0;
    font-size: 20px;
  }

  .secondary-btn:hover {
    background-color: var(--color-dark);
    color: var(--color-primary);
  }

.project-wrapper {
    display: flex;
    gap: 36px;
  }

  .project {
    font-family: 'Manrope', sans-serif; /* Use Manrope as fallback */
    display: flex;
    gap: 8px;
    flex-direction: column;
  }

.project img {
    height: 500px;
    width: 100%;
    object-fit: cover;
}

.project p {
    font-family: 'Manrope', sans-serif; /* Use Manrope as fallback */
    font-size: 24px;
    margin: 0;
    padding: 0;
}

  .project-link {
    text-decoration: none;
    color: var(--color-dark);
    width: 50%;
  }

  .project-link:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
  }

  @media (max-width: 1024px) {
    #about h1 {
        width: unset;
        max-width: 500px;
    }

    h1 {
        font-size: 50px;
    }
  }

  .main-theme {
    background-color: inherit;
  }

  .project-h2 {
    font-size: 16px;
   font-family: 'Manrope', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .project-desc {
    font-size: 24px;
   font-family: 'Manrope', sans-serif;
    font-weight: 300;
  }

  .info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 75%;
  }

  #info {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  .image-container {
    display: flex;
    width: 100%;
        gap: 72px;
  }

  #image-double {
    display: flex;
    flex-direction: row;
  }

  #image-double img {
    height: 100%;
    width: 100%;
  }

  .digdir-theme {
    background-color: #FBCFD0;
  }

  .naturvinforbundet-theme {
    background-color: #FFE1CC;
  }

  .ingebrigtsen-theme {
    background-color: #E5F9FF;
  }

.accordion {
  background-color: var(--color-primary);
  color: var(--color-dark);
  cursor: pointer;
  padding: 36px 36px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
    font-size: 36px;
    font-family: 'Manrope';
    font-weight: 400;
  transition: 0.4s;
  margin-bottom: 1px;
}

.active, .accordion:hover {
  background-color: var(--color-primary-150);
}

.accordion:after {
  content: '\002B';
  color: var(--color-dark);
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 36px;
  background-color: inherit;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel p {
         font-size: 24px;
    font-family: 'Manrope';
    font-weight: 400;
}

.accordion-wrapper {
  padding: 72px;
}

#tjenester {
    padding: 72px;
    display: flex;
    gap: 0px;
    flex-direction: column;
}

#tjenester h1 {
margin-bottom: 48px;
}